# Add any directories, files, or patterns you don't want to be tracked by version control
#node and build folders
.DS_Store
node_modules/
build
dist
#external and project files
workspace.xml
chrome
.idea
npm-debug.log


#Test Case
.scannerwork
test-coverage
reports
